BOOTSTRAP_SECRET=troque-por-um-segredo-longo-e-aleatorio
PASSWORD_PEPPER=troque-por-outro-segredo-longo-e-independente
RESEND_API_KEY=re_xxxxxxxxx
SALES_EMAIL_FROM="Maltworks <contato@maltworks.com.br>"
SALES_EMAIL_TO=vendas@maltworks.com.br
